body {
	margin: 0;
	font-family: 'Liberation Sans', sans-serif;
}

#map {
	width: 100vw;
	height: 100vh;
}

#popup {
	width: 170px;
	padding: 10px;
	background-color: #FFFFFF;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	position: relative;
	text-align: center;
	cursor: default;

	&::after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border: 10px solid transparent;
		border-top-color: #FFFFFF;
		border-bottom-width: 0;
		position: absolute;
		top: 100%;
		left: 50%;
		margin-left: -10px;
	}

	h5 {
		margin: 0;
		text-align: center;

		a {
			text-decoration: none;
			color: #3D3D3D;
		}
	}

	p {
		margin: 0 0 1em;
	}
}
